*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    cursor: pointer;
}
.contener{
    width: 1440px;
    margin: 0 auto;
}
.header{
    background-image: url(./Rectangle\ 8\ \(1\).png);
    width: 1440px;
height: 332px;
}
.head-box{
    width: 1200px;
height: 68px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
/* border: 1px solid yellow; */
/* margin-top: 30px; */
}
.head-box-btn{
    width: 320px;
height: 40px;
top: 44px;
left: 119px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
color: rgba(41, 80, 145, 1);
font-family: Rubik;
font-weight: 700;
font-size: 28px;
line-height: 33.18px;
letter-spacing: 0%;
border: 0.5px solid white;
box-shadow: 0px 1px 2px 3px rgb(225, 225, 225);
margin-top: 25px;
}
.head-box-item{
    width: 258px;
height: 21px;
top: 54px;
left: 456px;
font-family: Rubik;
font-weight: 400;
font-size: 16px;
line-height: 18.96px;
letter-spacing: 0%;
display: flex;
justify-content: space-evenly;
align-items: center;
color: rgba(81, 81, 81, 1);
margin-top: 25px;
}
.head-box-bvd{
    font-family: Rubik;
font-weight: 700;
font-size: 16px;
line-height: 18.96px;
letter-spacing: 0%;
color: rgba(41, 80, 145, 1);
}
.head-box-input{
    width: 145px;
height: 40px;
top: 44px;
left: 836px;
border-radius: 5px;
border: 1px solid white;
padding-left: 5px;
}
.head-box-form{
    width: 200px;
    height: 40px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 140px;
    margin-top: 25px;
}
.head-box-button{
    width: 38.095237731933594px;
height: 40px;
top: 44px;
left: 995px;
border-radius: 5px;
background-color: rgba(255, 255, 255, 1);
/* margin-top: 10px; */
/* margin-left: 5px; */
border: 1px solid white;
}
.head-box-img{
    width: 24px;
height: 24px;
top: 52px;
left: 1004px;

}
.head-box-span{
    width: 64.76190185546875px;
height: 40px;
top: 44px;
left: 1085px;
border-radius: 5px;
display: flex;
justify-content: space-evenly;
align-items: center;
background-color: white;
margin-right: 25px;
margin-top: 25px;
}
.head-box-pic{
    width: 20px;
height: 20px;
top: 55px;
left: 1096px;
border-radius: 18px;
margin-left: 2px;
}
.head-box-desc{
    width: 20px;
height: 20px;
top: 55px;
left: 1121px;
font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 18.75px;
letter-spacing: 0%;
color: rgba(83, 83, 83, 1);
margin-top: 4px;
margin-right: 2px;
}
.head-box-butn{
    width: 146px;
height: 40px;
top: 44px;
left: 1173px;
border-radius: 5px;
font-family: Rubik;
font-weight: 500;
font-size: 16px;
line-height: 18.96px;
letter-spacing: 0%;
background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-right: 20px;
border: 0.5px solid rgba(30, 150, 200, 1);
margin-top: 25px;
}
.wrapper-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
height: 68px;
margin: 0 auto;
border-radius: 5px;
box-shadow: 0px 2px 5px 0px rgba(159, 159, 159, 0.19);
background-color: white;
margin-top: 35px;
}
.wrapper-link{
color: rgba(81, 81, 81, 1);
}
.wrapper-link:hover{
    color: blue;
}
.wrapper-item{
font-weight: 500;
font-size: 19px;
/* line-height: 22.52px; */
/* letter-spacing: 0%; */
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-size: 19px; */
    /* font-weight: 500; */
    color: #515151;
}
.header-img{
    width: 1200px;
height: 99px;
top: 210px;
margin-left: 119px;
border-width: 1px;
margin-top: 20px;
}
.inner-title{
    width: 178px;
height: 30px;
top: 349px;
left: 117px;
font-family: Rubik;
font-weight: 500;
font-size: 24px;
line-height: 28.44px;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
margin-top: 20px;
}
.inner-input{
    width: 600px;
height: 50px;
top: 391px;
left: 119px;
opacity: 0.3;
border-radius: 5px;
border-width: 2px;
border: 1px solid rgba(40, 81, 147, 1);
/* width: 36; */
/* height: 21; */
font-family: Rubik;
font-weight: 400;
font-size: 18px;
line-height: 21.33px;
letter-spacing: 0%;
/* color: rgb(38, 37, 37); */
padding-left: 15px;
margin-top: 15px;
}
.inner-textarea{
    width: 600px;
height: 307px;
top: 671px;
left: 119px;
opacity: 0.3;
border-radius: 5px;
border-width: 2px;
border: 1px solid rgba(40, 81, 147, 1);
padding-left: 15px;
padding-top: 15px;
margin-top: 15px;
}
.inner-input1{
    width: 221px;
height: 50px;
top: 998px;
left: 119px;
opacity: 0.3;
border-radius: 5px;
border-width: 2px;
border: 1px solid rgba(40, 81, 147, 1);
padding-left: 15px;
margin-top: 15px;
}
.inner-btn{
    width: 221px;
height: 50px;
top: 1138px;
left: 119px;
border-radius: 5px;
border-width: 2px;
background-color: rgba(41, 80, 147, 1);
top: 1153px;
left: 180px;
font-family: Rubik;
font-weight: 700;
font-size: 18px;
line-height: 21.33px;
letter-spacing: 0%;
color: rgba(255, 255, 255, 1);
border: 0.5px solid rgba(41, 80, 147, 1);
margin-top: 15px;
}
.currenly{
    width: 88px;
height: 29px;
top: 1078px;
left: 358px;
font-family: Song Myung;
font-weight: 400;
font-size: 23px;
line-height: 28.75px;
letter-spacing: 0%;
color: rgba(0, 0, 0, 1);
margin-left: 15px;
}
.inner{
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}
.box-title{
    /* width: 329px; */
height: 33px;
top: 414px;
left: 998px;
font-family: Rubik;
font-weight: 700;
font-size: 28px;
line-height: 33.18px;
letter-spacing: 0%;
color: rgba(41, 80, 145, 1);
text-align: end;
}
.box-text{
height: 21px;
top: 468px;
left: 1077px;
font-family: Rubik;
font-weight: 400;
font-size: 18px;
line-height: 21.33px;
letter-spacing: 0%;
color: rgba(136, 136, 136, 1);
}
.box-img{
    width: 32px;
height: 32px;
top: 515px;
left: 1177px;

}
.box-button{
    width: 150px;
height: 33px;
top: 564px;
left: 1149px;
border-radius: 5px;
font-family: Rubik;
font-weight: 400;
font-size: 18px;
line-height: 21.33px;
letter-spacing: 0%;
background: linear-gradient(90deg, #295091 15.07%, #295091 85.96%);
color: white;
display: flex;
justify-content: space-evenly;
align-items: center;
padding-right: 20px;
border: 0.5px solid rgba(30, 150, 200, 1);
margin-top: 25px;
}
.box-pic{
    width: 20px;
height: 20px;
top: 571px;
left: 1158px;
top: 7.92px;
left: 34.27px;
}
.box-btn{
width: 111px;
height: 33px;
top: 3635px;
left: 247px;
border-radius: 5px;
border: 0.05px solid rgb(226, 222, 222);
/* background-color: rgba(21, 12, 1, 1); */
display: flex;
/* justify-content: space-evenly; */
align-items: center;
}
.inner-img{
    width: 26px;
height: 26px;
top: 3646px;
left: 275px;
margin-left: 5px;
}
.inner-desc1{
    margin-left: 5px;
    color: #295091;
}
.inner-desc{
    width: 92px;
height: 19px;
top: 3650px;
left: 503px;
margin-right: 5px;
color: #295091;
}
.box-span{
    display: flex;
    align-items: center;
}
.box-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 510px;
height: 280px;
top: 391px;
left: 809px;
border-radius: 5px;
border-width: 2px;
box-shadow: ;
}